:root {
  --background-color: #0d1117;
  --primary-color: #3d3dc7;
  --secondary-color: #8b949e;
  --text-color: #181717;
  --border-color: #21262d;
  --user-message-bg: #21262d;
  --bot-message-bg: #21262d;
  --input-bg-color: #161b22;
  --input-border-color: #30363d;
  --shadow-color: rgba(0, 0, 0, 0.15);
}

body {
  font-family: "Roboto", sans-serif;
  background-image: linear-gradient(
    to right,
    rgb(67, 107, 198),
    rgba(108, 145, 229, 0)
  );
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text-color);
}

.header {
  display: flex;
  margin-top: 26px;
}

#logo {
  height: 160px;
  width: 100%;
}

.page-title {
  padding: 10px 10px 10px 20px;
}

.title-1,
.university-name {
  text-transform: uppercase;
  color: #fff;
}

.university-name {
  font-size: 26px;
  font-weight: bold;
}

.under {
  background-color: #fff;
  height: 2px;
}

.content {
  text-align: center;
}

.chat-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 300px;
  height: 400px;
  width: 90%;
  height: 70vh;
  right: auto;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--border-color);
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  display: none;
}

.chat-header {
  padding: 10px;
  background-color: var(--primary-color);
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  position: relative;
}

.close-chat {
  position: absolute;
  right: 10px;
  top: 10px;
  background: none;
  border: none;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
}

.chat-title {
  font-size: 0.875rem;
  font-weight: normal;
  margin-top: 5px;
  color: var(--secondary-color);
}

.chat-messages {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  max-height: 600px;
  background-color: var(--background-color);
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  color: white;
}

.chat-input {
  display: flex;
  border-top: 1px solid var(--border-color);
  padding: 10px;
  background-color: var(--border-color);
  color: white;
}

.chat-input input {
  flex: 1;
  border: none;
  background-color: var(--background-color);
  color: white;
  padding: 10px;
  outline: none;
}

.chat-input button {
  background-color: var(--primary-color);
  border: none;
  color: white;
  margin-left: 5px;
}

.message {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 4px;
}

.message.user {
  text-align: right;
  background-color: var(--user-message-bg);
}

.message.bot {
  text-align: left;
  background-color: var(--bot-message-bg);
}

.chatbot-toggle {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: var(--primary-color);
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.5rem;
  border: none;
}
