<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>Trang thông tin tuyển sinh đại học, Trường Đại học Khoa học, Đại học Huế</title>
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon" type="text/css"
          href="/static/images/favicon.png"/>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>

    <link rel="stylesheet" href="/static/css/style_home.css">
    <link href="/static/fonts/fonts.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/fontawesome/css/all.css"/>
    <title>Hỏi đáp - Trường Đại học Khoa học</title>
</head>
<body class="home">
<div class="top_header">
    <div class="wrap">
        <div class="left_top">
            <h1 class="title_page_top">THÔNG TIN TUYỂN SINH NĂM 2022</h1>
        </div>
        <div class="right_top">
            <a href="mailto:tuyensinh@husc.edu.vn">
                <i class="fas fa-envelope"></i> <span>tuyensinh@husc.edu.vn</span>
            </a>
            <a href="tel:0234 3834 856">
                <i class="fas fa-phone-alt"></i> <span>094 4455136</span>
            </a>
        </div>
    </div>
</div>
<nav class="header full-width navbar-fixed-top" role="navigation">

    <div class="wrap">
        <a class="logo" href="https://tuyensinh.husc.edu.vn/"><img
                src="/static/images/logo.png" alt=""></a>
        <div class="mob-nav-icon">
            <a class="cmn-toggle-switch cmn-toggle-switch__htx">
                <span>toggle menu</span>
            </a>
        </div>
        <div class="nav_menu">
            <nav class="main_menu">
                <div class="">
                    <div class="container">
                        <div class="container-wrapper">
                            <ul class="menunav">
                                <li class="active"><a href="https://tuyensinh.husc.edu.vn">Trang chủ</a></li>
                                <li class="column"><a href="#">Ngành đào tạo</a>
                                    <ul class="level1 submenu_inner menu_nganhdt">
                                        <li class="submenu"><a href="https://tuyensinh.husc.edu.vn/major/bao-chi/"><i
                                                class="fa fa-angle-right"></i>Báo chí</a></li>
                                        <li class="submenu"><a
                                                href="https://tuyensinh.husc.edu.vn/major/cong-nghe-ky-thuat-dien-tu-vien-thong/"><i
                                                class="fa fa-angle-right"></i>Công nghệ kỹ thuật điện tử - Viễn
                                            thông</a></li>
                                        <li class="submenu"><a
                                                href="https://tuyensinh.husc.edu.vn/major/cong-nghe-ky-thuat-hoa-hoc/"><i
                                                class="fa fa-angle-right"></i>Công nghệ kỹ thuật hóa học</a></li>
                                        <li class="submenu"><a
                                                href="https://tuyensinh.husc.edu.vn/major/cong-nghe-sinh-hoc/"><i
                                                class="fa fa-angle-right"></i>Công nghệ sinh học</a></li>
                                        <li class="submenu"><a
                                                href="https://tuyensinh.husc.edu.vn/major/cong-nghe-thong-tin/"><i
                                                class="fa fa-angle-right"></i>Công nghệ thông tin</a></li>
                                        <li class="submenu"><a
                                                href="https://tuyensinh.husc.edu.vn/major/cong-tac-xa-hoi/"><i
                                                class="fa fa-angle-right"></i>Công tác xã hội</a></li>
                                        <li class="submenu"><a
                                                href="https://tuyensinh.husc.edu.vn/major/dia-ky-thuat-xay-dung/"><i
                                                class="fa fa-angle-right"></i>Địa kỹ thuật xây dựng</a></li>
                                        <li class="submenu"><a
                                                href="https://tuyensinh.husc.edu.vn/major/dong-phuong-hoc/"><i
                                                class="fa fa-angle-right"></i>Đông phương học</a></li>
                                        <li class="submenu"><a href="https://tuyensinh.husc.edu.vn/major/han-nom/"><i
                                                class="fa fa-angle-right"></i>Hán - Nôm</a></li>
                                        <li class="submenu"><a href="https://tuyensinh.husc.edu.vn/major/hoa-hoc/"><i
                                                class="fa fa-angle-right"></i>Hoá học</a></li>
                                        <li class="submenu"><a
                                                href="https://tuyensinh.husc.edu.vn/major/khoa-hoc-moi-truong/"><i
                                                class="fa fa-angle-right"></i>Khoa học môi trường</a></li>
                                        <li class="submenu"><a href="https://tuyensinh.husc.edu.vn/major/kien-truc/"><i
                                                class="fa fa-angle-right"></i>Kiến trúc</a></li>
                                        <li class="submenu"><a
                                                href="https://tuyensinh.husc.edu.vn/major/ky-thuat-phan-mem/"><i
                                                class="fa fa-angle-right"></i>Kỹ thuật phần mềm (Cơ chế đặc thù)</a>
                                        </li>
                                        <li class="submenu"><a
                                                href="https://tuyensinh.husc.edu.vn/major/ky-thuat-trac-dia-ban-do/"><i
                                                class="fa fa-angle-right"></i>Kỹ thuật trắc địa - bản đồ</a></li>
                                        <li class="submenu"><a href="https://tuyensinh.husc.edu.vn/major/lich-su/"><i
                                                class="fa fa-angle-right"></i>Lịch sử</a></li>
                                        <li class="submenu"><a
                                                href="https://tuyensinh.husc.edu.vn/major/quan-ly-an-toan-suc-khoe-va-moi-truong/"><i
                                                class="fa fa-angle-right"></i>Quản lý an toàn, sức khỏe và môi
                                            trường</a></li>
                                        <li class="submenu"><a
                                                href="https://tuyensinh.husc.edu.vn/major/quan-ly-nha-nuoc/"><i
                                                class="fa fa-angle-right"></i>Quản lý nhà nước</a></li>
                                        <li class="submenu"><a
                                                href="https://tuyensinh.husc.edu.vn/major/quan-ly-tai-nguyen-va-moi-truong/"><i
                                                class="fa fa-angle-right"></i>Quản lý tài nguyên và môi trường</a></li>
                                        <li class="submenu"><a
                                                href="https://tuyensinh.husc.edu.vn/major/quan-tri-va-phan-tich-du-lieu/"><i
                                                class="fa fa-angle-right"></i>Quản trị và phân tích dữ liệu</a></li>
                                        <li class="submenu"><a href="https://tuyensinh.husc.edu.vn/major/triet-hoc/"><i
                                                class="fa fa-angle-right"></i>Triết học</a></li>
                                        <li class="submenu"><a
                                                href="https://tuyensinh.husc.edu.vn/major/truyen-thong-so/"><i
                                                class="fa fa-angle-right"></i>Truyền thông số</a></li>
                                        <li class="submenu"><a href="https://tuyensinh.husc.edu.vn/major/van-hoc/"><i
                                                class="fa fa-angle-right"></i>Văn học</a></li>
                                        <li class="submenu"><a href="https://tuyensinh.husc.edu.vn/major/xa-hoi-hoc/"><i
                                                class="fa fa-angle-right"></i>Xã hội học</a></li>

                                    </ul>
                                </li>
                                <li class=""><a href="#">Tin tức thông báo</a>
                                    <ul class="level1">
                                        <li class=""><a href="https://tuyensinh.husc.edu.vn/category/tin-tuc/">Tin
                                            tức</a></li>
                                        <li class=""><a
                                                href="https://tuyensinh.husc.edu.vn/category/thong-bao-tuyen-sinh/">Thông
                                            báo tuyển sinh</a></li>
                                        <li class=""><a
                                                href="https://tuyensinh.husc.edu.vn/category/ket-qua-tuyen-sinh/">Kết
                                            quả tuyển sinh</a></li>
                                        <li class=""><a href="https://tuyensinh.husc.edu.vn/category/co-hoi-viec-lam/">Cơ
                                            hội việc làm</a></li>
                                        <li class=""><a href="https://tuyensinh.husc.edu.vn/thong-tin-tren-bao/">Báo chí
                                            nói về trường</a></li>
                                    </ul>
                                </li>
                                <li class=""><a href="#">Hướng nghiệp</a>
                                    <ul class="level1">
                                        <li class=""><a href="https://tuyensinh.husc.edu.vn/category/ttts/">Hoạt động
                                            hướng nghiệp</a></li>
                                        <li class=""><a
                                                href="https://tuyensinh.husc.edu.vn/category/dinh-huong-nganh-nghe/">Định
                                            hướng/chọn ngành nghề</a></li>
                                        <li class=""><a href="https://tuyensinh.husc.edu.vn/category/tam-ly-mua-thi/">Tâm
                                            lý mùa thi</a></li>
                                        <li class=""><a href="https://tuyensinh.husc.edu.vn/trac-nghiem-holland/">Trắc
                                            nghiệm Holland</a></li>
                                    </ul>
                                </li>
                                <li class=""><a href="#">Đời sống - Đoàn hội</a>
                                    <ul class="level1">
                                        <li class=""><a
                                                href="https://tuyensinh.husc.edu.vn/category/hoc-bong-sinh-vien/"><i
                                                class="fa fa-angle-right" aria-hidden="true"></i>Học bổng sinh viên</a>
                                        </li>

                                        <li class=""><a href="https://tuyensinh.husc.edu.vn/category/dssv/"><i
                                                class="fa fa-angle-right" aria-hidden="true"></i>Đời sống sinh viên</a>
                                        </li>
                                        <li class=""><a href="https://tuyensinh.husc.edu.vn/category/doanhoi/"><i
                                                class="fa fa-angle-right" aria-hidden="true"></i>Hoạt động Đoàn -
                                            hội</a></li>
                                    </ul>
                                </li>

                                <li class=""><a href="https://tuyensinh.husc.edu.vn/category/hinh-anh/">Hình ảnh</a>
                                </li>
                                <li class=""><a href="#">Hỏi đáp</a>
                                    <ul class="level1">
                                        <li class=""><a href="https://tuyensinh.husc.edu.vn/category/quyche/">Quy định,
                                            Quy chế</a></li>
                                        <li class=""><a href="https://tuyensinh.husc.edu.vn/hoi-dap/">Câu hỏi thường
                                            gặp</a></li>
                                    </ul>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
            </nav>


        </div><!-- end nav_menu-->
    </div>
</nav><!-- end header-->


<div id="faqs">
    <div class="heading">
        <div class="container"><h1>Tư vấn - Hỏi đáp</h1></div>
    </div>
    <div class="breadcrumbs">
        <div class="container">
            <div class="content">
                <span class="item"><a href="https://tuyensinh.husc.edu.vn" title="Trang chủ">Trang chủ</a></span>
                <span class="item_sep"> / </span>
                <span class="item"><a href="#" title="Tư vấn - Hỏi đáp">Tư vấn - Hỏi đáp</a></span>
            </div>
        </div>
    </div>

    <div class="faqs faqs-list">
        <div class="container">
            <div id="main-content" class="main">
                <div id="center">
                    <div class="module">
                        <form>
                            <div class="input-group search-b">
                                <input type="search" class="form-control" name="search"
                                       placeholder="Nhập từ khóa tìm kiếm" aria-label="Search"
                                       aria-describedby="search-addon"/>
                                <button type="submit" class="btn btn-primary">Tìm kiếm</button>
                            </div>
                        </form>
                        <div class="module-content">
                            {% for post in Datas %}
                            <div class="item">
                                <div class="wrap">
                                    <div class="content">*** {{post.question}}
                                    </div>
                                    <hr>
                                    <div class="reply"><p>{{post.reply}}</p>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            {% if Datas.has_other_pages %}

                                <ul class="pagination">
                                    {% if Datas.has_previous %}
                                    <li><a class="page-link" href="?page={{ Datas.previous_page_number }}">&laquo;</a>
                                    </li>
                                    {% else %}
                                    <li class="page-item disabled"><span>&laquo;</span></li>
                                    {% endif %}
                                    {% for i in Datas.paginator.page_range %}
                                    {% if Datas.number == i %}
                                    <li class="page-item active"><span>{{ i }} <span
                                            class="sr-only">(current)</span></span></li>
                                    {% else %}
                                    <li><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                    {% endif %}
                                    {% endfor %}
                                    {% if Datas.has_next %}
                                    <li><a class="page-link" href="?page={{ Datas.next_page_number }}">&raquo;</a></li>
                                    {% else %}
                                    <li class="page-item disabled"><span>&raquo;</span></li>
                                    {% endif %}
                                </ul>

                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="footer">
    <div class="wrap">
        <div class="link_ft">
            <li id="block-2" class="widget widget_block">
                <div class="row">
                    <div class="one-third">
                        <div class="info_ft">
                            <img src="http://tuyensinh.myphamgdep.com/wp-content/themes/tuyensinhv3/images/logo_ft.png"
                                 alt="">
                            <p>TRANG THÔNG TIN TUYỂN SINH 2022</p>
                            <ul>
                                <li><strong>Địa chỉ:</strong> 77 Nguyễn Huệ, Thành phố Huế, Thừa Thiên Huế</li>
                                <li><strong>Hotline:</strong> 091 4145414 - 094 4455136</li>
                                <li><strong>Email:</strong> tuyensinh@husc.edu.vn</li>
                            </ul>
                        </div>
                        <div class="social">
                            <h4>Kết nối với chúng tôi</h4>
                            <a href="https://facebook.com/husc.edu.vn"><i class="fab fa-facebook-square"></i></a>
                            <a href="https://www.youtube.com/channel/UCvMHvHTo7iwwWRTW0uHybLA"><i
                                    class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                    <div class="two-third">
                        <div>
                            <div class="one-third">
                                <h2>Danh mục chính</h2>
                                <ul class="lienket_ft">
                                    <li><a href="https://tuyensinh.husc.edu.vn/category/ttts/">Tuyển sinh</a></li>
                                    <li><a href="https://tuyensinh.husc.edu.vn/category/dssv/">Đời sống</a></li>
                                    <li><a href="https://tuyensinh.husc.edu.vn/category/doanhoi/">Đoàn hội</a></li>
                                    <li><a href="https://tuyensinh.husc.edu.vn/thong-tin-tren-bao/">Báo chí nói về
                                        trường</a></li>
                                    <li><a href="https://tuyensinh.husc.edu.vn/category/co-hoi-viec-lam/">Cơ hội việc
                                        làm</a></li>
                                </ul>
                            </div>
                            <div class="one-third">
                                <h2>Hỗ trợ</h2>
                                <ul class="lienket_ft">
                                    <li><a href="https://tuyensinh.husc.edu.vn/hoi-dap/">Hỏi đáp</a></li>
                                </ul>
                            </div>
                            <div class="one-third info_contact">
                                <h2>Thông tin liên hệ</h2>
                                <ul>
                                    <li><h4><strong>TS. Trần Thanh Lương</strong></h4></li>
                                    <li><strong>Trưởng phòng đào tạo đại học và công tác sinh viên</strong></li>
                                    <li><strong>Số điện thoại:</strong> 091 4145414</li>
                                </ul>
                                <ul>
                                    <li><h4><strong>ThS. Thái Nhật Trường</strong></h4></li>
                                    <li><strong>Phó trưởng phòng đào tạo đại học và công tác sinh viên</strong></li>
                                    <li><strong>Số điện thoại:</strong> 094 4455136</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </div><!-- end link_ft-->
    </div>
</div><!-- end footer-->

<!-- jQuery -->
<script src="/static/js/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript" src="/static/js/jquery.sticky.js"></script>
<script>
	$(window).load(function(){
	  $(".header").sticky({ topSpacing: 0 });
	});
</script>
<script>
    !(function () {
        let e = document.createElement("script"),
          t = document.head || document.getElementsByTagName("head")[0];
        (e.src =
          "https://cdn.jsdelivr.net/npm/rasa-webchat@1.x.x/lib/index.js"),
          // Replace 1.x.x with the version that you want
          (e.async = !0),
          (e.onload = () => {
            window.WebChat.default(
              {

                customData: { language: "vi" },
                socketUrl: "http://localhost:5005",
                // add other props here
                title: 'ĐẠI HỌC KHOA HỌC HUẾ   ',
                subtitle: 'Tư vấn tuyển sinh '
              },
              null
            );
          }),
          t.insertBefore(e, t.firstChild);
      })();
   </script>
</body>
</html>
